
body {
    width:50em;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 5em;
    padding-right: 5em;
    font-family: warnock-pro,Palatino,"Palatino Linotype","Palatino LT STD","Book Antiqua",Georgia,serif;
}

h1 {
    font-size: 200%;
}

h2 {
    font-size: 180%;
}

h3 {
    font-size: 160%;
}

h4 {
    font-size: 140%;
}

h5 {
    font-size: 120%;
}

h6 {
    font-size: 100%;
}

.home {
    color: black;
    font-size: 300%;
    font-weight: bold;
    text-decoration: none;
}

a {
    color: #606060;
}

tt {
    font-size: 120%
}

pre {
    padding: 20px;
    border: 1px dotted;
    font-size: 120%
}

th, td {
    padding-bottom: 0.3em;
    padding-right: 2em;
}

.caption {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.rss {
  display: inline;
  width: inherit;
}

