
body {
    width:50em;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 5em;
    padding-right: 5em;
    font-family: sans-serif;
}

h1 {
    font-size: 200%;
}

h2 {
    font-size: 180%;
}

h3 {
    font-size: 160%;
}

h4 {
    font-size: 140%;
}

h5 {
    font-size: 120%;
}

h6 {
    font-size: 100%;
}

a {
    color: black;
}

tt {
    font-size: 120%
}

pre {
    padding: 20px;
    border: 1px dotted;
    font-size: 120%
}

th, td {
    padding-bottom: 0.3em;
    padding-right: 2em;
}


