<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <title>Tiles: Report on Programmatic Code Generation - 250bpm</title>
    
    	<script type="text/javascript" src="http://www.wikidot.com/default__flow/login__CustomDomainScript?site_id=148706"></script>

    
    <script type="text/javascript" src="http://d3g0gp89917ko0.cloudfront.net/v--3e3a6f7dbcc9/common--javascript/init.combined.js"></script>
    <script  type="text/javascript">
        var URL_HOST = 'www.wikidot.com';
        var URL_DOMAIN = 'wikidot.com';
        var USE_SSL =  true ;
        var URL_STATIC = 'http://d3g0gp89917ko0.cloudfront.net/v--3e3a6f7dbcc9';
        // global request information
        
        var WIKIREQUEST = {};
        WIKIREQUEST.info = {};
        
        WIKIREQUEST.info.domain = "250bpm.com";
        WIKIREQUEST.info.siteId = 148706;
        WIKIREQUEST.info.siteUnixName = "250bpm";
        WIKIREQUEST.info.categoryId = 2550760;
        WIKIREQUEST.info.themeId = 18520;
        WIKIREQUEST.info.requestPageName = "blog:147";
        OZONE.request.timestamp = 1594263599;
        OZONE.request.date = new Date();
        WIKIREQUEST.info.lang = 'en';
                WIKIREQUEST.info.pageUnixName = "blog:147";
        WIKIREQUEST.info.pageId = 606415163;
                        WIKIREQUEST.info.lang = "en";
        OZONE.lang = "en";
        var isUAMobile = !!/Android|webOS|iPhone|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent);
    </script>
    
    


    
        <script  type="text/javascript">
    
        require.config({
            baseUrl: URL_STATIC + '/common--javascript',
            paths: {
                'jquery.ui': 'jquery-ui.min',
                'jquery.form': 'jquery.form'
            }
        });
    
    </script>
    
    <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
            
    
    
    
    
    <meta http-equiv="content-language" content="en"/>
    <script type="text/javascript" src="http://d3g0gp89917ko0.cloudfront.net/v--3e3a6f7dbcc9/common--javascript/WIKIDOT.combined.js"></script>
        
    
    <style type="text/css" id="internal-style">
        
        /* modules */
        
                
        /* theme */
                    @import url(http://d3g0gp89917ko0.cloudfront.net/v--3e3a6f7dbcc9/common--theme/base/css/style.css);
                    @import url(http://250bpm.wdfiles.com/local--theme/250bpm/style.css);
            </style>
    
        
        
        
    <link rel="shortcut icon" href="/local--favicon/favicon.gif"/>
    <link rel="icon" type="image/gif" href="/local--favicon/favicon.gif"/>
    
            <link rel="apple-touch-icon" href="/common--images/apple-touch-icon-57x57.png" />
        <link rel="apple-touch-icon" sizes="72x72" href="/common--images/apple-touch-icon-72x72.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="/common--images/apple-touch-icon-114x114.png" />
        
        
            <link rel="alternate" type="application/wiki" title="Edit this page" href="javascript:WIKIDOT.page.listeners.editClick()"/>
    
        <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-18234656-1']);
        _gaq.push(['_setDomainName', 'none']);
        _gaq.push(['_setAllowLinker', true]);
        _gaq.push(['_trackPageview']);

        _gaq.push(['old._setAccount', 'UA-68540-5']);
        _gaq.push(['old._setDomainName', 'none']);
        _gaq.push(['old._setAllowLinker', true]);
        _gaq.push(['old._trackPageview']);

                _gaq.push(['userTracker._setAccount', 'UA-3207370-9']);
        _gaq.push(['userTracker._trackPageview']);
            </script>
    
    <script type="text/javascript">
        window.google_analytics_uacct = 'UA-18234656-1';
        window.google_analytics_domain_name = 'none';
    </script>
    
        <link rel="manifest" href="/onesignal/manifest.json" />
    <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" acync=""></script>
    <script>
        var OneSignal = window.OneSignal || [];
        OneSignal.push(function() {
          OneSignal.init({
            appId: null,
          });
        });
    </script>
        
</head>
<body id="html-body">
<div id="skrollr-body">
<a name="page-top"></a>





<div id="container-wrap-wrap">
    <div id="container-wrap">
        <div id="container">
            <div id="header">
              <h1><a href="/"><span>250bpm</span></a></h1>
                
                
                <!-- google_ad_section_start(weight=ignore) -->
                
                <div id="search-top-box" class="form-search">
    <form id="search-top-box-form" action="dummy" class="input-append">
        <input id="search-top-box-input" class="text empty search-query" type="text" size="15" name="query" value="Search this site" onfocus="if(YAHOO.util.Dom.hasClass(this, 'empty')){YAHOO.util.Dom.removeClass(this,'empty'); this.value='';}"/><input class="button btn" type="submit" name="search" value="Search"/>
    </form>
</div>
                
                
                    <div id="top-bar">
                        

<ul>
<li><a href="/">Home</a></li>
<li><a href="https://github.com/sustrik/cartesian">Cartesian</a></li>
<li><a href="http://libdill.org">Libdill</a></li>
<li><a href="http://nanomsg.org">Nanomsg</a></li>
<li><a href="https://github.com/sustrik/tiles">Tiles</a></li>
<li><a href="http://zero.mq">ZeroMQ</a></li>
<li><a href="/contact">Contact</a></li>
</ul>

                    </div>
                
                <div id="login-status"><a href="javascript:;" onclick="WIKIDOT.page.listeners.createAccount(event)" class="login-status-create-account btn">Create account</a> <span>or</span> <a href="javascript:;" onclick="WIKIDOT.page.listeners.loginClick(event)" class="login-status-sign-in btn btn-primary">Sign in</a> </div>
                <div id="header-extra-div-1"><span></span></div><div id="header-extra-div-2"><span></span></div><div id="header-extra-div-3"><span></span></div>
            </div>
            
            <div id="content-wrap">
                
                    <div id="side-bar">
                        


                        


                        


                    </div>
                
                
                <!-- google_ad_section_end -->
                
                <div id="main-content">
                    <div id="action-area-top"></div>
                    
                    
                        <div id="page-title">
                            Tiles: Report on Programmatic Code Generation
                        </div>
                    

                    

                    



                    <div id="page-content">
                        

<div style="width:50em">
<p>Writing programs that generate programs is hard. The programmer has to think at two levels of abstraction at once. She has to follow the logic of the generator. At the same time she can't lose the focus on the logic of the generated code. And the two don't even have to be written in the same language!</p>
<p>That's a hard enough feat even when the tools aren't putting obstacles in your way. But, unfortunately, that's exactly what they are doing.</p>
<p>Consider this Python program that outputs the classic C &quot;Hello, world!&quot; program:</p>
<div class="code">
<pre>
<code>def generate_hello(who):
    return &quot;&quot;&quot;#include &lt;stdio.h&gt;

main( ) {
        printf(&quot;hello, &quot;&quot;&quot; + who + &quot;!\\n\&quot;);\n}&quot;

print(generate_hello(&quot;world&quot;))</code>
</pre></div>
<p>Ugly, you say? Yes, it's ugly. But it's just generating the simplest possible program! If we wanted to generate something truly complex it would become doubleplusugly.</p>
<p>But ugliness aside, the problem is that the code is unreadable.</p>
<p>Reading code is generally harder than writing code. Reading code with two parallel levels of abstraction is yet much harder. Add some atrocious formatting, sprinkle with copious amount of escape sequences and even the best programmer won't be able to understand what's going on.</p>
<p>The traditional solution to this problem is templating.</p>
<p>The idea is that the generated program is like a form, a pre-printed template with few blank slots to fill in:</p>
<div class="image-container aligncenter"><img src="http://250bpm.wdfiles.com/local--files/blog:147/tiles1.gif" alt="tiles1.gif" class="image" /></div>
<p>And here's how it works with, say Jinja2:</p>
<div class="code">
<pre>
<code>from jinja2 import Template

t = Template(&quot;&quot;&quot;#include &lt;stdio.h&gt;

main( ) {
        printf(&quot;Hello, {{ who }}!\\n&quot;);
}&quot;&quot;&quot;)

print(t.render(who=&quot;World&quot;))</code>
</pre></div>
<p>Well, it's not much better. Weird formatting and escape sequences remain. However, given that the template is now a single string we can load it from a file instead of using a string literal. The content of the file would look much better:</p>
<div class="code">
<pre>
<code>#include &lt;stdio.h&gt;

main( ) {
        printf(&quot;Hello, {{ who }}!\n&quot;);
}</code>
</pre></div>
<p>The downside is that the template and the generator now live in two different files which makes the logic harder to follow.</p>
<p>By the way, I am not picking on Jinja2 here. All the code generation tools I've looked at work in basically the same manner. Here's, for example, how Golang's text/template package looks like:</p>
<div class="code">
<pre>
<code>package main

import (
    &quot;log&quot;
    &quot;os&quot;
    &quot;text/template&quot;
)

func main() {
    // Define a template.
    const letter = `
Dear {{.Name}},
{{if .Attended}}
It was a pleasure to see you at the wedding.
{{- else}}
It is a shame you couldn't make it to the wedding.
{{- end}}
{{with .Gift -}}
Thank you for the lovely {{.}}.
{{end}}
Best wishes,
Josie
`

    // Prepare some data to insert into the template.
    type Recipient struct {
        Name, Gift string
        Attended   bool
    }
    var recipients = []Recipient{
        {&quot;Aunt Mildred&quot;, &quot;bone china tea set&quot;, true},
        {&quot;Uncle John&quot;, &quot;moleskin pants&quot;, false},
        {&quot;Cousin Rodney&quot;, &quot;&quot;, false},
    }

    // Create a new template and parse the letter into it.
    t := template.Must(template.New(&quot;letter&quot;).Parse(letter))

    // Execute the template for each recipient.
    for _, r := range recipients {
        err := t.Execute(os.Stdout, r)
        if err != nil {
            log.Println(&quot;executing template:&quot;, err)
        }
    }

}</code>
</pre></div>
<p>It code generation was really like filling in tax forms, the templating approach would be good enough.</p>
<p>But it's not.</p>
<p>Even the simple Go example above requires some extra logic. Specifically, it uses different text depending on whether the person is question attended the wedding or not.</p>
<p>But it gets worse.</p>
<p>Imagine you want to generate the following report:</p>
<div class="code">
<pre>
<code>ACME Inc. - Payroll
    Alice $3000
    Bob $2500
    Carol $2800
    Dylan $2900
Signature: .......... (Wile E. Coyote)</code>
</pre></div>
<p>That's no longer filling in empty slots. The template has to loop through the list of employees and generate a line for each of them.</p>
<p>Again Jinja2:</p>
<div class="code">
<pre>
<code>{{ company }} - Payroll
{% for employee in employees %}
    {{ employee.name }} ${{ employee.salary }}
{% endfor %}
Signature: .......... ({{ director }})</code>
</pre></div>
<p>As can be seen, moving to more complex generated text means adding more special constructs (if-then-else, for-in etc.) into the template until we end up with a full, Turing-complete code generation DSL.</p>
<p>There are two things I don't like about the templating approach to code generation:</p>
<p>First, I don't want to learn a new DSL. If I'm coding in Go, I want to use Go and I want to use its power fully. I don't want to use some crippled version of it that's used only inside of templates.</p>
<p>Second, I don't want to use large templates in the first place. The pieces I want to fill into the template are often too complex to be generated inside of the template and therefore I have to precompute them, put them in an array and then use text/template to render the array. That in turn tears the generation logic, which is a single conceptual thing, into two pieces: The precomputation and the template rendering.</p>
<p>And I am not even speaking of complex cases when I want to fill in a slot in a template not by a simple string but rather by a full template of its own.</p>
<p>Given the considerations above, I've created a <a href="https://github.com/sustrik/tiles">small Python library</a> in 2017 to do code generation in a different way. The idea was to treat &quot;a block of code&quot; as a primitive type, not unlike string or integer. The user would then use the language &#8212; the real language, not a limited version thereof &#8212; to manipulate those blocks of code, add them together and eventually generate the entire program out of them.</p>
<div class="code">
<pre>
<code>payroll = t/&quot;@{company} - Payroll&quot;
for employee in employees
    payroll |= t/&quot;@{employee.name} $@{employee.salary}&quot;
payroll |= t/&quot;Signature: .......... (@{director})&quot;
print(payroll)</code>
</pre></div>
<p>As can be seen, it's a pure Python. No template-specific DSL, no nothing. Instead, there's a new primitive type called &quot;tile&quot; that really just a rectangular area of text. Tile literals support tile interpolation (@{} stuff) but that's not much different from the existing Python string interpolation (F-strings) and can't be really claimed to be a separate language within a language. The user is free to manipulate the tiles in any way that she sees fit.</p>
<p>Unfortunately, since 2017, I haven't had a chance to use the library in anger.</p>
<p>Until last week, that is.</p>
<p>Doing so resulted in smoothing of the API and adding of some convenience features. It also bloated the code of the library from 35 LoC to 74 LoC (!)</p>
<p>The <a href="https://gist.github.com/sustrik/305e9f6a768c582a0189bae5f5d327af">code</a> I have written generates some man pages and C header files.</p>
<p>Let me paste a snippet here so that you get a feeling how a real-world code written with tiles looks like:</p>
<div class="code">
<pre>
<code># SYNOPSIS section
synopsis = t/'#include&lt;@{fx[&quot;header&quot;]}&gt;'
if fx[&quot;add_to_synopsis&quot;]:
    synopsis |= t%'' | t/'@{fx[&quot;add_to_synopsis&quot;]}'
synopsis |= t%'' | t/'@{signature(fx)}'

# DESCRIPTION section
description = t/'@{fx[&quot;prologue&quot;]}'
if fx[&quot;protocol&quot;]:
    description = t/'@{fx[&quot;protocol&quot;][&quot;info&quot;]}' | t%'' | description
if fx[&quot;experimental&quot;] or (fx[&quot;protocol&quot;] and fx[&quot;protocol&quot;][&quot;experimental&quot;]):
    description = t/'**WARNING: This is experimental functionality and the API may change in the future.**' | t%'' | description
if fx[&quot;has_iol&quot;]:
    description |= t%'' | t/&quot;&quot;&quot;
        This function accepts a linked list of I/O buffers instead of a
        single buffer. Argument **first** points to the first item in the
        list, **last** points to the last buffer in the list. The list
        represents a single, fragmented message, not a list of multiple
        messages. Structure **iolist** has the following members:

        ```c
        void *iol_base;          /* Pointer to the buffer. */
        size_t iol_len;          /* Size of the buffer. */
        struct iolist *iol_next; /* Next buffer in the list. */
        int iol_rsvd;            /* Reserved. Must be set to zero. */
        ```

        When receiving, **iol_base** equal to NULL means that **iol_len**
        bytes should be skipped.

        The function returns **EINVAL** error in the case the list is
        malformed:

        * If **last-&gt;iol_next** is not **NULL**.
        * If **first** and **last** don't belong to the same list.
        * If there's a loop in the list.
        * If **iol_rsvd** of any item is non-zero.

        The list (but not the buffers themselves) can be temporarily
        modified while the function is in progress. However, once the
        function returns the list is guaranteed to be the same as before
        the call.
        &quot;&quot;&quot;
if fx[&quot;args&quot;]:
    description |= t%'' | (t/'').vjoin([t/'**@{arg[&quot;name&quot;]}**: @{arg[&quot;info&quot;]}' for arg in fx[&quot;args&quot;]])
if fx[&quot;epilogue&quot;]:
    description |= t%'' | t/'@{fx[&quot;epilogue&quot;]}'
if fx[&quot;protocol&quot;] or fx[&quot;topic&quot;] == &quot;IP addresses&quot;:
    description |= t%'' | t/'This function is not available if libdill is compiled with **--disable-sockets** option.'
if fx[&quot;protocol&quot;] and fx[&quot;protocol&quot;][&quot;topic&quot;] == &quot;TLS protocol&quot;:
    description |= t%'' | t/'This function is not available if libdill is compiled without **--enable-tls** option.'

# RETURN VALUE section
if fx[&quot;result&quot;]:
    if fx[&quot;result&quot;][&quot;success&quot;] and fx[&quot;result&quot;][&quot;error&quot;]:
        retval = t/&quot;&quot;&quot;
            In case of success the function returns @{fx[&quot;result&quot;][&quot;success&quot;]}.
            'In case of error it returns @{fx[&quot;result&quot;][&quot;error&quot;]} and sets **errno** to one of the values below.
            &quot;&quot;&quot;
    if fx[&quot;result&quot;][&quot;info&quot;]:
        retval = t/'@{fx[&quot;result&quot;][&quot;info&quot;]}'
else:
    retval = t/&quot;None.&quot;

# ERRORS section
standard_errors = {
    &quot;EBADF&quot;: &quot;Invalid handle.&quot;,
    &quot;EBUSY&quot;: &quot;The handle is currently being used by a different coroutine.&quot;,
    &quot;ETIMEDOUT&quot;: &quot;Deadline was reached.&quot;,
    &quot;ENOMEM&quot;: &quot;Not enough memory.&quot;,
    &quot;EMFILE&quot;: &quot;The maximum number of file descriptors in the process are already open.&quot;,
    &quot;ENFILE&quot;: &quot;The maximum number of file descriptors in the system are already open.&quot;,
    &quot;EINVAL&quot;: &quot;Invalid argument.&quot;,
    &quot;EMSGSIZE&quot;: &quot;The data won't fit into the supplied buffer.&quot;,
    &quot;ECONNRESET&quot;: &quot;Broken connection.&quot;,
    &quot;ECANCELED&quot;: &quot;Current coroutine was canceled.&quot;,
    &quot;ENOTSUP&quot;: &quot;The handle does not support this operation.&quot;,
}
errs = {}
for e in fx[&quot;errors&quot;]:
    errs[e] = standard_errors[e]
errs.update(fx[&quot;custom_errors&quot;])
errors = t/&quot;None.&quot;
if len(errs) &gt; 0:
    errors = (t/'').vjoin([t/'* **@{e}**: @{desc}' for e, desc in sorted(errs.items())])
if fx[&quot;add_to_errors&quot;]:
    errors |= t%'' | t/'@{fx[&quot;add_to_errors&quot;]}'

# Generate the manpage.
page = t/&quot;&quot;&quot;
         # NAME

         @{fx[&quot;name&quot;]} - @{fx[&quot;info&quot;]}

         # SYNOPSIS

         ```c
         @{synopsis}
         ```

         # DESCRIPTION

         @{description}

         # RETURN VALUE

         @{retval}

         # ERRORS

         @{errors}
         &quot;&quot;&quot;

# Add EXAMPLE section, if available.
example = &quot;&quot;
if fx[&quot;protocol&quot;] and fx[&quot;protocol&quot;][&quot;example&quot;]:
    example = t/'@{fx[&quot;protocol&quot;][&quot;example&quot;]}'
if fx[&quot;example&quot;]:
    example = t/'@{fx[&quot;example&quot;]}'
if example:
    page |= t%'' | t/&quot;&quot;&quot;
        # EXAMPLE

        ```c
        @{example}
        ```
        &quot;&quot;&quot;

# SEE ALSO section.
# It'll contain all funrction from the same topic plus the functions
# added manually.
sa = [f[&quot;name&quot;] for f in topics[fx[&quot;topic&quot;]] if f[&quot;name&quot;] != fx[&quot;name&quot;]]
if fx[&quot;has_deadline&quot;]:
    sa.append(&quot;now&quot;)
if fx[&quot;allocates_handle&quot;]:
    sa.append(&quot;hclose&quot;)
if fx[&quot;protocol&quot;] and fx[&quot;protocol&quot;][&quot;type&quot;] == &quot;bytestream&quot;:
    sa.append(&quot;brecv&quot;)
    sa.append(&quot;brecvl&quot;)
    sa.append(&quot;bsend&quot;)
    sa.append(&quot;bsendl&quot;)
if fx[&quot;protocol&quot;] and fx[&quot;protocol&quot;][&quot;type&quot;] == &quot;message&quot;:
    sa.append(&quot;mrecv&quot;)
    sa.append(&quot;mrecvl&quot;)
    sa.append(&quot;msend&quot;)
    sa.append(&quot;msendl&quot;)
# Remove duplicates and list them in alphabetical order.
sa = list(set(sa))
sa.sort()
#seealso = t/&quot;&quot;
#for f in sa:
#    seealso += t/&quot;**@{f}**(3) &quot;
seealso = (t%' ').join([t/'**@{f}**(3)' for f in sa])
page |= t%'' | t/&quot;&quot;&quot;
    # SEE ALSO

    @{seealso}
    &quot;&quot;&quot;

with open(fx[&quot;name&quot;] + &quot;.md&quot;, 'w') as f:
    f.write(str(page))</code>
</pre></div>
<p>Generally speaking, I am happy with the experiment.</p>
<p>I would like to highlight the following facts:</p>
<p>1. There's no DSL in the code whatsoever. Not even a simple one.<br />
2. The source code is nicely indented.<br />
3. The generated code is nicely indented.<br />
4. There isn't a single escape sequence in the code.</p>
<p>On the other hand, there are some minor warts.</p>
<p>For example, when you want to join multiple strings in Python, you can do it this way:</p>
<div class="code">
<pre>
<code>result = &quot;,&quot;.join(&quot;circle&quot;, &quot;square&quot;, &quot;triangle&quot;)</code>
</pre></div>
<p>When you want to join multiple tiles though you need an extra pair of parentheses:</p>
<div class="code">
<pre>
<code>result = (t/&quot;,&quot;).join(t/&quot;circle&quot;, t/&quot;square&quot;, t/&quot;triangle&quot;)</code>
</pre></div>
<p>When you want to put one tile below another and separate them by a blank like you do it as follows:</p>
<div class="code">
<pre>
<code>result = a | t%&quot;&quot; | b</code>
</pre></div>
<p>The empty line literal (t%&quot;&quot;) looks too much like a vim command.</p>
<p>However, both of these problems are artifacts of hacking the tile support on top of existing Python language rather than having the tile primitive type supported by the language itself. If there was native support for tiles, the code would look like this:</p>
<div class="code">
<pre>
<code>result = t&quot;,&quot;.join(t&quot;circle&quot;, t&quot;square&quot;, t&quot;triangle&quot;)

result = a | w&quot;&quot; | b</code>
</pre></div>
<p><strong>Feb 21st, 2019</strong></p>
</div>

                    </div>

                    


                    



                    

                    <div id="page-info-break"></div>
                    
                        <div id="page-options-container">
                            
                        </div>
                    
                    <div id="action-area" style="display: none;"></div>
                </div>
            </div>
            
            
            
            <div id="footer" style="display: block; visibility: visible;">
                <div class="options" style="display: block; visibility: visible;">
    <a href="http://www.wikidot.com/doc" id="wikidot-help-button">Help</a>
    &nbsp;|
    <a href="http://www.wikidot.com/legal:terms-of-service" id="wikidot-tos-button">Terms of Service</a>
    &nbsp;|
    <a href="http://www.wikidot.com/legal:privacy-policy" id="wikidot-privacy-button">Privacy</a>
    &nbsp;|
    <a href="javascript:;" id="bug-report-button" onclick="WIKIDOT.page.listeners.pageBugReport(event)">Report a bug</a>
    &nbsp;|
    <a href="javascript:;" id="abuse-report-button" onclick="WIKIDOT.page.listeners.flagPageObjectionable(event)">Flag as objectionable</a>
</div>
Powered by <a href="http://www.wikidot.com">Wikidot.com</a> 
            </div>
            
                <div id="license-area" class="license-area">
                    Unless otherwise stated, the content of this page is licensed under <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0 License</a>
                </div>
            
            
            



            <div id="extrac-div-1"><span></span></div><div id="extrac-div-2"><span></span></div><div id="extrac-div-3"><span></span></div>
            
            
            
            
                
            
        </div>
        
    </div>
<!-- These extra divs/spans may be used as catch-alls to add extra imagery. -->
<div id="extra-div-1"><span></span></div><div id="extra-div-2"><span></span></div><div id="extra-div-3"><span></span></div>
<div id="extra-div-4"><span></span></div><div id="extra-div-5"><span></span></div><div id="extra-div-6"><span></span></div>
</div>




</div>
<div id="dummy-ondomready-block" style="display: none;" ></div>
    <!-- Google Analytics load -->
    <script type="text/javascript">
        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>

    <!-- Quantcast -->
    <script type="text/javascript">
    _qoptions={
        qacct:"p-edL3gsnUjJzw-"
    };
    (function() {
        var qc = document.createElement('script'); qc.type = 'text/javascript'; qc.async = true;
        qc.src = ('https:' == document.location.protocol ? 'https://secure' : 'http://edge') + '.quantserve.com/quant.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(qc, s);
    })();
    </script>
    <noscript>
        <img src="http://pixel.quantserve.com/pixel/p-edL3gsnUjJzw-.gif" style="display: none;" border="0" height="1" width="1" alt="Quantcast"/>
    </noscript>




<div id="page-options-bottom-tips" style="display: none;">
    <div id="edit-button-hovertip">
        Click here to edit contents of this page.    </div>
</div>
<div id="page-options-bottom-2-tips"  style="display: none;">
    <div id="edit-sections-button-hovertip">
        Click here to toggle editing of individual sections of the page (if possible).         Watch headings for an &quot;edit&quot; link when available.    </div>
    <div id="edit-append-button-hovertip">
        Append content without editing the whole page source.    </div>
    <div id="history-button-hovertip">
        Check out how this page has evolved in the past.    </div>
    <div id="discuss-button-hovertip">
        If you want to discuss contents of this page - this is the easiest way to do it.    </div>
    <div id="files-button-hovertip">
        View and manage file attachments for this page.    </div>
    <div id="site-tools-button-hovertip">
        A few useful tools to manage this Site.    </div>
    <div id="backlinks-button-hovertip">
        See pages that link to and include this page.    </div>
    <div id="rename-move-button-hovertip">
        Change the name (also URL address, possibly the category) of the page.    </div>
    <div id="view-source-button-hovertip">
        View wiki source for this page without editing.    </div>
    <div id="parent-page-button-hovertip">  
        View/set parent page (used for creating breadcrumbs and structured layout).    </div>
            <div id="abuse-report-button-hovertip">
            Notify administrators if there is objectionable content in this page.        </div>
        <div id="bug-report-button-hovertip">
            Something does not work as expected? Find out what you can do.        </div>
        <div id="wikidot-help-button-hovertip">
            General Wikidot.com documentation and help section.        </div>
        <div id="wikidot-tos-button-hovertip">
            Wikidot.com Terms of Service - what you can, what you should not etc.        </div>
        <div id="wikidot-privacy-button-hovertip">
            Wikidot.com Privacy Policy.          
        </div>
    </div>
</body>
</html>